#logo {
    animation: logo 5s;
    display: block;
}

/* Creating animation with specified requirements */
@keyframes logo{
    from {width: 25px; opacity: 0;}
    to {width: 475px; opacity: 1;}
 
}

body {
    font-family: Poppins, serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}


header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;

}

.nav_links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
}

/* Making sure the color of links stays blue after being visited */
a:visited {
    color: blue;
}


.card > header{
    background: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

/* Adding in border radius for both .card > header and .card to ensure it matched example */
.card{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;  
    display: flex;
    flex-basis: 450px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.pricing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    
}

.gallery img{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}


@media screen and (min-width: 900px) {

    /* Reseting flex-direction to line up the element by row instead of column with new screen size */
    header, .nav_links{
        flex-direction: initial;
        justify-content: space-between;
        align-items: center;
    }


    div.pricing, .card{
        flex-basis: 275px;
        flex-direction: row;
        align-items: center;

    }

    /* Setting each .card box to 275px so they are the same width */
    .card > header{
        flex-basis: 275px;
    }

    body > header{
        position: sticky;
        top: 0
    }
}

/* Sets animation of logo to none for reduced motion */
@media (prefers-reduced-motion) {
    #logo {
        animation: none;
    }

}

@media print {
    body{
        font-family: Arial, Helvetica;
        background-image: none;
    }
   
    /* Setting nav width to be 100% so it spans entire screen */
    nav {
        flex-basis: 100%;
    }

    /* Resetting flex-direction so both the header and .nav-links line up properly */

    header {
        flex-direction: initial;
        justify-content: center;
    }

    .nav_links {
        flex-direction: initial;
        justify-content: space-evenly;
    }

    /* Making sure each element is on the same line and lined up at the bottom */
    .pricing {
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    .card {
        border: 2px solid #45ADDD;
        flex-basis: 325px;
    }

    /* Making top part invisible to match spacing seen in picture */
    #gallery{
        visibility: hidden;
    }


    /* Making bottom part display none so it does not affect spacing of other elements */
    .gallery {
        display: none;
    }

    /* Adding in thumbs up emoji after the second list element within the .card class */
    .card li:nth-child(2)::after {
        content: "\1F44D";
    }

}